
<div class="jumbotron" *ngIf="addme">

    <h1 class="display-4">Hello!! Welcome to FutChat</h1>
    <p class="lead">This is a simple initiative to let users following a live football match chat realtime with each other </p>
    <hr class="my-4">
    <p>Write down your mind and communicate with related people to express and impress</p>
    <form>
        
        <div class="form-group">
          <label for="exampleInputEmail1">Your Name</label>
          <input [(ngModel)]="user" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
        </div>
        <label for="exampleInputEmail2">Match</label>
        <input [(ngModel)]="room" disabled [ngModelOptions]="{standalone: true}" placeholder="Select a live match from the below list" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
      <div class="container dark">
        <h5>No live matches going on !! Sorry come back later</h5>
      </div>
      <div *ngIf="livematches"> <div  *ngFor="let a of matchesarray">
        <div class="container dark anitem" (click)="addroomtotext('helo')">
          <h5>{{data.homeTeam.name+" "}}<h5 *ngIf="data.status!='SCHEDULED'">{{data.score.fullTime.homeTeam+" "}}</h5>vs<br>{{" "+data.awayTeam.name+" "}}<h5 *ngIf="data.status!='SCHEDULED'">{{data.score.fullTime.awayTeam+" "}}</h5></h5><br>
        </div>
       </div>
      </div> 
          
     


        <button type="submit" (click)="join()" class="btn btn-primary">Join Chat</button>{{" "}}
        <button  (click)="change()" class="btn btn-success">Show me the premier league</button>
      </form>

  </div>
  <router-outlet></router-outlet>
  <div class="jumbotron" *ngIf="onchat" >
  <div class="input-group mb-3"  >
    <input type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Enter your message here" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
     <button class="btn btn-success" (click)="sendmessage()">Send</button> 
    </div>
  </div>
  

  <button class="btn btn-danger" *ngIf="joined" (click)="leave()">Leave Futchat</button>
</div>