<div class="jumbotron" >
    <div>
    <button class="btn btn-primary" (click)="upcomingmatches()">Show upcoming matches</button>{{" "}}
    <button class="btn btn-primary" (click)="table()">Show League Table</button>{{" "}}
    <button class="btn btn-success" (click)="returnhome()">Home</button>{{" "}}
</div>
    <hr>
    <input *ngIf="showstanding" type="text" [(ngModel)]="standingfilter" class="form-control" placeholder="Type the name of the team to search" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div *ngIf="showstanding">
    <div *ngFor="let data of myobject.standings[0].table | FilterPipe : standingfilter" (click)="showmatches(data.team.id)"class="container anitem" >
        <img src="{{data.team.crestUrl}}" alt="..." class="img-thumbnail"><h5>{{data.position}}:{{" "+data.team.name+" "}}</h5><br>
<b>Points:</b><span class="badge badge-dark">{{data.points}} </span><br>
<b>Games Played:</b><span class="badge badge-dark">{{" "+data.playedGames}} </span> <br>
<b>Goal Diff:</b><span class="badge badge-dark">{{" "+data.goalDifference}} </span>    
    </div>
</div>
<input type="text" *ngIf="showfixtures" [(ngModel)]="standingfix" class="form-control" placeholder="Type the name of the team to search" aria-label="Recipient's username" aria-describedby="basic-addon2">
<div *ngIf="showfixtures">
    <div *ngFor="let data of myobject.matches | FilterPipeFix:standingfix" class="container" >
        <h5>{{data.homeTeam.name+" "}}vs{{" "+data.awayTeam.name+" "}}</h5><br>
        <b>MatchDay:</b><span class="badge badge-dark">{{data.matchday}} </span><br>
        <b>Date:</b><span class="badge badge-dark">{{" "+data.utcDate | slice:0:11}} </span> <br>
        <b>Time</b><span class="badge badge-dark">{{" "+data.utcDate | slice:12:20}} </span>    
            </div>
        </div>
        <div *ngIf="showmatch">
            <h6>*Matches to be played are tagged in green</h6>
            <div *ngFor="let data of myobject.matches | FilterPipeFix:standingfix" class="container" >
               <button class="btn btn-success" disabled *ngIf="data.status==='SCHEDULED'">To be played</button> 
                <h5>{{data.homeTeam.name+" "}}<h5 *ngIf="data.status!='SCHEDULED'">{{data.score.fullTime.homeTeam+" "}}</h5>vs<br>{{" "+data.awayTeam.name+" "}}<h5 *ngIf="data.status!='SCHEDULED'">{{data.score.fullTime.awayTeam+" "}}</h5></h5><br>
                <b>Competition:</b><span class="badge badge-dark">{{data.competition.name}} </span><br>
                <b>MatchDay:</b><span class="badge badge-dark">{{data.matchday}} </span><br>
                <b>Date:</b><span class="badge badge-dark">{{" "+data.utcDate | slice:0:11}} </span> <br>
                <b>Time</b><span class="badge badge-dark">{{" "+data.utcDate | slice:12:20}} </span>    
                    </div>
                </div>
</div>
